@media only screen and (min-width: 65em) {
    
    .container {
        min-width: 1000px;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        margin-left: 5%;
        margin-right:5%;
    }
}